.mv-page-cover {
  width: 100%;
}

.mv-page-tagline {
  font-size: 1.4rem;
  margin-top: 20px;
}

.mv-page-description {
  margin-top: 20px;
  font-size: 1.1rem;
  color: #888;
  font-weight: 500;
  margin-bottom: 0;
}

.mv-page-label {
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 600;
  margin-top: 20px;
}

.mv-page-info {
  font-size: 1.1rem;
  color: #888;
  font-weight: 500;
}
